@model F1.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Drivers of team";
}

<h1>Drivers of team</h1>

<div>
    <h4>  @Html.DisplayFor(model => model.Team.TeamName)</h4>
    <hr />
    <div>
        <div>
            @foreach (var item in Model.RacingDrivers)
            {
                @Html.Partial("_DriverPartial", item);
                <hr />
            }
        </div>
    </div>
</div>
<div>
    <a type="button" class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>